<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Richwood Scent-ific Class Project">
    <meta name="keywords" content="stinky markers erasers office products">
    <meta name="author" content="Chuck Toussieng">

    <title>      
        Richwood Scent-ific Admin
    </title>

    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet">
    <link href="../assets/css/sweetalert.css" rel="stylesheet">
    <link href="../assets/css/toolkit-inverse.css" rel="stylesheet">
    <link href="../assets/css/application.css" rel="stylesheet">
    <link href="../assets/css/adminpage-adds.css" rel="stylesheet">

  </head>

  <body class="with-top-navbar">

	{{{body}}}

  </body>
</html>