<h3>Add a Product</h3>
<form action="http://localhost:3000/api/product" method="POST">
Product name: <input type="text" name="product_name"><br>
<button type="submit" name="submitButton" value="save">save</button>

</form>