<!-- Example using bootstrap table -->

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>

<h3>Richwood Scentific</h3>

<table data-toggle="table" data-url="http://localhost:3000/api/bestsellersmin">
    <thead>
        <tr>
            <th data-field="product_name">Product Name</th>
            <th data-field="unit_price">Price</th>
        </tr>
    </thead>
</table>

