    <!-- Navigation -->
    <div class="navigation">
      <div class="navigation-left">
        <a href="#" id="prod1">-</a>
        <a href="#" id="prod2">-</a>
        <a href="#" id="prod3">-</a>
      </div>
      <div class="navigation-center">
        <img src="../assets/web/images/logo.png" alt="Richwood-scentific">
      </div>
      <div class="navigation-right">
        <a href="#"><img src="../assets/web/images/shopping-bag.png" alt=""></a>
        <button class="login-btn" href="#">Login</button>
      </div>
    </div>

    <!-- Slider Wrapper -->
    <div class="css-slider-wrapper">
      <input type="radio" name="slider" class="slide-radio1" checked id="slider_1">
      <input type="radio" name="slider" class="slide-radio2" id="slider_2">
      <input type="radio" name="slider" class="slide-radio3" id="slider_3">
      <input type="radio" name="slider" class="slide-radio4" id="slider_4">

      <!-- Slider Pagination -->
      <div class="slider-pagination">
        <label for="slider_1" class="page1"></label>
        <label for="slider_2" class="page2"></label>
        <label for="slider_3" class="page3"></label>
        <label for="slider_4" class="page4"></label>
      </div>

      <!-- Slider #1 -->
      <div class="slider slide-1">
        <img src="../assets/web/images/products/erasers.png" alt="">
        <div class="slider-content">
          <h4>-</h4>
          <h2>Geddes Mash Ups Scented Kneaded Erasers</h2>
          <button type="button" class="buy-now-btn" name="button" id=".">$22.56</button>
        </div>
        <div class="number-pagination">
          <span>1</span>
        </div>
      </div>

      <!-- Slider #2 -->
      <div class="slider slide-2">
        <img src="../assets/web/images/model-2.png" alt="">
        <div class="slider-content">
          <h4>New Product</h4>
          <h2>Denim Longline T-Shirt Dress With Split</h2>
          <button type="button" class="buy-now-btn" name="button" id=".">$130</button>
        </div>
        <div class="number-pagination">
          <span>2</span>
        </div>
      </div>

      <!-- Slider #3 -->
      <div class="slider slide-3">
        <img src="../assets/web/images/model-3.png" alt="">
        <div class="slider-content">
          <h4>New Product</h4>
          <h2>Denim Longline T-Shirt Dress With Split</h2>
          <button type="button" class="buy-now-btn" name="button" id=".">$130</button>
        </div>
        <div class="number-pagination">
          <span>3</span>
        </div>
      </div>

      <!-- Slider #4 -->
      <div class="slider slide-4">
        <img src="../assets/web/images/model-4.png" alt="" max-width=300px height=auto>
        <div class="slider-content">
          <h4>New Product</h4>
          <h2>Denim Longline T-Shirt Dress With Split</h2>
          <button type="button" class="buy-now-btn" name="button" id=".">$130</button>
        </div>
        <div class="number-pagination">
          <span>4</span>
        </div>
      </div>
    </div>

    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
    <script src="../assets/web/js/app.js" charset="utf-8"></script>
    <script src="../assets/web/js/js.cookie.js"></script>

<script type="text/javascript">
$( document ).ready(function() {

  var id_customer = Cookies.get('richwood-scentific');

  if(id_customer) {
    // Logged in, cookie already exists
    console.log("using customer id: " + id_customer);
  } else {
    // Not logged in, create temp uuid and make a cookie
    var id_customer = generateUUID();
    Cookies.set('richwood-scentific', id_customer);
    console.log("generated a temp id: " + id_customer);
  }


  $.ajax({
      url: "http://localhost:3000/api/product_types",
      dataType: "json",
      type: "GET",
      data: {},
      success: function (result) {
          // Menu bar
          $('#prod1').text(result.data.product_types[0].label);
          $('#prod2').text(result.data.product_types[1].label);
          $('#prod3').text(result.data.product_types[2].label);
      }
  });

  $.ajax({
        url: "http://localhost:3000/api/products",
        dataType: "json",
        type: "GET",
        data: {},
        success: function (result) {

            // This was for testing: $('.slider.slide-1').find('h2').css( "background-color", "red" );

            // Did we get any products in the ajax call?
            if(result.data.products.length > 0) {
              
              // Loop through the array of product records
              for(var x=0; x<result.data.products.length;x++) {
              
                // We're only doing 4 slides
                if(x < 4) {
                  
                  // Build a string we can use to find each div by name- ex. .slider.slide-x
                  var classToFind = '.slider.slide-' + (x+1);
                  $(classToFind).find('h2').html(result.data.products[x].product_name);
                  $(classToFind).find('button').html(result.data.products[x].unit_price);

                  // So we can call add to cart with the product id later
                  $(classToFind).find('button').attr('id', result.data.products[x].id);

                  // Build a string for the images path and add the file name from the database
                  var imgSrc = "../assets/web/images/products/" + result.data.products[x].product_pic;
                  $(classToFind).find('img').attr('src', imgSrc);
              
                  // Is this a Best Seller? If so, replace the New Product text with Best Seller
                  if(result.data.products[x].best_seller == true) {
                    $(classToFind).find('h4').html('Best Seller');
                  }
              
                } // End if x < 4
              
              } // End for loop
            
            } // End did we get any records

        } // End success function
    });

    $('.slider').on( 'click', 'button', function () {
        //alert ($(this).closest("div").attr("class"));
        $.ajax({
              url: "http://localhost:3000/api/cart",
              dataType: "json",
              type: "POST",
              data: {
                id_customer: id_customer,
                quantity: '1',
                id_product: $(this).attr("id")
              },
              success: function (result) {
                  console.log(result);
              }
          });
    } );
    
    function generateUUID() { // Public Domain/MIT
      var d = new Date().getTime();
      if (typeof performance !== 'undefined' && typeof performance.now === 'function'){
          d += performance.now(); //use high-precision timer if available
      }
      return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
          var r = (d + Math.random() * 16) % 16 | 0;
          d = Math.floor(d / 16);
          return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16);
      });
    }
    

});

</script>