<!-- Our Styles -->
<link rel="stylesheet" href="css/styles.css">

<div class="container">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="images/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>

        <form class="form-signin" action="#" method="post">

            <span id="reauth-email" class="reauth-email"></span>

            <input type="email" id="email" name="email" class="form-control" placeholder="Email address" required autofocus>
            <input type="password" id="password" name="password" class="form-control" placeholder="password">
            <input type="text" id="first_name" name="first_name" class="form-control" placeholder="First name">
            <input type="text" id="last_name" name="last_name" class="form-control" placeholder="Last name">

            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign Up!</button>

        </form><!-- /form -->

    </div><!-- /card-container -->
</div><!-- /container -->

<!-- Scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>

<script type="text/javascript">

$( document ).ready(function() {

    $("form").submit(function() { 

        event.preventDefault(); 

        var val = $("input[type=submit][clicked=true]").val();
        var password = $('input[name="password"]').val();
        var email = $('input[name="email"]').val();

        $.ajax({
            url: "http://localhost:3000/api/customer",
            dataType: "json",
            type: "POST",
            contentType: 'application/json',
            data: JSON.stringify({ "data" : { "email": email, "password": password } }),
            success: function (result) {
                // TODO: make a cookie or otherwise store local information about the customer
                window.location.href = "/";
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) { 
                // A failure will usually mean an account with this email already exists
                // TODO: Properly test if it is a 403 (already exists) or something else
                window.location.href = "/login";
            }  
        });

    });
       
});

</script>
